/* CIT 230 - Assignment Portal CSS Template */
/* You may use #HEX or color names */
/* * is a wildcard referring to all elements. */
@media only screen and (min-width: 30em) {
  .navigation li:first-child { display: none;	}
    .navigation li { display: inline-block; margin-right: 1rem;}	
    .navigation li a { color: #FFF;}
    .fivedayforecast{ display: block;}

.fivedayforecast img {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  width: 40%; 
  padding: 50px; 
  margin: auto; 
}

article {
  background-color: #BCB8B1;
  width: 70%;
  padding: 1rem;
  margin: auto;
  text-align: left !important;
  border: solid #463F3A 1px;
  margin-bottom: 30px; 
}

.articleimg {
  height: 15rem;
  margin: 1rem;
  float: right;
  padding-right: 0px;
  box-shadow: 1rem 1rem .5rem #707479;
}

#templeSummary {
  color: #FFF;
  background-color: #E0AFA0;
}

.templeSummaryImg {
  height: auto;
  margin: 1rem;
  float: right;
  padding-right: 0px;
  box-shadow: 1rem 1rem .5rem #707479;
}

.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  }
  
  .gallery figure {
  justify-self: center;
  }

  #towndata {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 2rem;
    grid-gap: 15px; 
  }
  
}