@media only screen and (min-width: 45em) {
  .navigation li:first-child { display: none;	}
    .navigation li { display: inline-block; margin-right: 1rem;}	
    .navigation li a { color: #FFF;}

form {
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  padding: 10px; 
  background-color: #BCB8B1;
  max-width: 750px;
  margin-bottom: 40px;
}
    
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  }
  
  figure img:hover {box-shadow: 0 0 50px #333;}

  #towndata {
    margin-bottom: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 2rem;
    grid-gap: 15px; 
}

.fiveDayForecast {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  background-color: rgb(247, 215, 155);
  position: relative;
  width: 35.5rem;
  margin: auto;
}

table {
  background-color: white;
  margin: auto;
  border: #FFA400;
  max-width: 600px;
}

th {
  background-color: rgb(247, 215, 155);
  padding: 1.5rem;
  font-size: 1rem;
}

td {
  padding: .2rem;
  text-align: center; 

}

}