@media only screen and (min-width: 45em) {
  .navigation li:first-child { display: none;	}
    .navigation li { display: inline-block; margin-right: 1rem;}	
    .navigation li a { color: #FFF;}
    
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  }
  figure img:hover {box-shadow: 0 0 50px #333;}
}