@media only screen and (min-width: 45em) {
    .navigation li:first-child { display: none;	}
      .navigation li { display: inline-block; margin-right: 1rem;}	
      .navigation li a { color: #FFF;}

.fivedayforecast {
    display: block; 
}

.articleimg {
    height: 20rem;
    margin: 1rem;
    float: right;
    padding-right: 0px;
    box-shadow: 1rem 1rem .5rem #044389;
}

article {
    background-color: rgb(247, 215, 155);
    width: 70%;
    padding: 1rem;
    margin: auto;
    text-align: left !important;
    border: solid #FFA400 1px;
    margin-bottom: 30px; 
    font-family: 'Segoe UI', sans-serif;
}

.contact {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  color: #FFF;
  background-color: rgb(42, 42, 114);
  font-size: 1rem;
  line-height: 1.5rem;
  font-family: 'Segoe UI', sans-serif;
  width: 70%;
  margin: auto;
  padding: 1rem;
}

.map {
  width: 50%;
  height: auto;
}

.gallery {
  margin-bottom: 2rem;
  display: grid;
  grid-template: 
    [row1-start] "figure figure figure" auto[row1-end]
    [row2-start] "figure figure figure" auto[row2-end];
}

.gallery figure {
  justify-self: center;
  padding: 1rem;
  }
  
figure img {
  width: 95%;
  height: 80%;
}
  
figure:hover {box-shadow: 0 0 50px #333;}

}
